{% extends 'mailing/base.html' %}

{% block content %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>Имя</td>
                        <td>{{ client.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Фамилия</td>
                        <td>{{ client.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Электронная почта</td>
                        <td>{{ client.email }}</td>
                    </tr>
                    <tr>
                        <td>Активный</td>
                        <td>
                            {% if client.is_active %}
                                Да
                            {% else %}
                                Нет
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <a href="{% url 'mailing:client_list' %}" class='btn btn-secondary'><< Назад</a>
            </div>
        </div>
    </div>
{% endblock %}